.login-header 
{
	background-color: $blacked;
	color: #fff;
}

.login-body
{
	border: 2px solid $blacked;
	border-radius: 8px 8px;
}
.btn-login
{
	background-color: $blacked;
	color: #fff;
}
.login-button
{
	margin: 10px auto 0px auto;
	color: $blacked;
	text-align: center;
	display: block;
}
